<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="@{{ site.github_user }}">
  
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

    <!-- JS -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/dark_mode.js"></script>
  
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
  
  </head>