<div class="row">
    {% assign not_first = false %}
    {% for post in site.posts reversed %}
        {% assign currentyear = post.date | date: "%Y" %}
        {% if currentyear != year %}
            {% if not_first %}
                </div>
            {% endif %}
            <div class="col card">
                <h3 class="text-primary">1{{ currentyear }} HE</h3>
            {% assign year = currentyear %}
            {% assign not_first = true %}
        {% endif %}
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>
    {% endfor %}
    </div>
</div>