---
layout: base
---
<section class="card">
    <header>
        <strong class="text-primary is-centered">{{ page.date | date: "%B" }}, 1{{ page.date | date: "%Y" }}</strong>
        <h1>{{ page.title | upcase }}</h1>
    </header>
    
    {{ content }}

    <p></p>
    
    <footer>
        {% if page.previous %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" class="button outline icon">
            <i data-feather="chevron-left"></i>
        </a>
        {% else %}
        <div class="button clear"></div>
        {% endif %}

        <a href="{{ site.baseurl }}/assets/images{{ page.path | replace: '_posts', '' | replace: '.md', '.png' }}" class="button outline clear icon">
            <i class="mr">
                <i data-feather="grid"></i>
            </i>
            QR code
        </a>

        {% if page.next %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" class="button outline icon">
            <i data-feather="chevron-right"></i>
        </a>
        {% endif %}
    </footer>
</section>